/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }






body {
	color: #1a1a1a;
	background-color: #e9e9e9;
 	text-align: center;
 	
 	width: 300px;

 	line-height: 1.2em;
 	font-family: "proxima-nova";
 	font-size: 22px;
 	
 	background: rgb(255,255,255);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(221,221,221,1) 70%); 	
	
 	margin: 2em auto;
 	line-height: 1.2em
}

h1 {
	font-size: 52px;
	font-weight: 600;
	font-family: "adobe-garamond-pro";
	margin-bottom: 0.5em; 
}

h2 {
	font-weight: 200;
	font-size: 30px;
	margin-bottom: 1em; 
}

img {
  margin-bottom: 1.5em; 
}
  
p {
  margin-bottom: 1.5em; }

form {
  margin-bottom: 1.5em;
}

a[href] {
	text-decoration: none;
	color: #CC4137;
}

em {
	font-style: italic;
}

div#mc_embed_signup {	
	font-family: "proxima-nova";
	background-color: transparent;
}

#mc_embed_signup input#mce-EMAIL.email{
	width: 100%;
	border-radius: 5px;
	text-align: center;
	height: 40px;
	font-size: 20px;
}

footer {
	font-size: 16px;
	color: #737373;
}

#mc_embed_signup .button {
	border: 1px solid;
	border-color: #CC4137;
	color: #CC4137;
	background-color: transparent;
	width: 200px; margin:0 auto !important;
}

#mc_embed_signup .button:hover {
	background: #CC4137;
	color: white;
}
